<main>
    <header>
        <h1>Inventory list</h1>
    </header>
    <div class="container-box">
        <div *ngIf="error" class="err">{{ error }}</div>
        <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
        <section class="listing" *ngFor="let product of products" [ngStyle]="{'background-color': getQuantity(product.stockQuantity)}">
            <p class="listing-status">{{getQuantityTag(product.stockQuantity)}}</p>
            <div style="margin: 5px;">
            <img style="margin: 0;"
            class="listing-photo"
            [src]="product.imageUrl"
            alt="Exterior photo of {{ product.name }}"
            crossorigin
            /></div>
            <h2 class="listing-heading">{{ product.id }}</h2>
            <h2 class="listing-heading">{{ product.name }}</h2>
            <p class="listing-quantity">Quantity: {{ product.stockQuantity }}</p>
            <p class="listing-price">Purchase price: {{ product.purchaseprice }}$</p>
            <p class="listing-price">Sale price: {{ product.saleprice ?? product.purchaseprice }}$</p>
            <p class="listing-total-price">Total value: {{getTotalPrice(product.stockQuantity, product.saleprice ?? product.purchaseprice)}}$</p>
        </section>
        </div>
    </div>
</main>
